body {
    //background-color: aqua;
}



.form_container{
    width: 1000px;
    margin: auto;
    margin-top: 50px;
}

.btn_contain btn-primary{
    margin: auto;
}

#BTSave{
    margin: auto;
    width: 200px;
    margin-left: 350px;
}


#titre{
    margin-top: 20px;
    text-align: center;
}

.myLogo{
    width: 80px;
    height: 80px;
}
